OPENAI_API_KEY=sk-proj--<YOUR_API_KEY>
QDRANT_API_KEY=<YOUR_API_KEY>
QDRANT_ENDPOINT_URL=https://<YOUR_QDRANT_ENDPOINT>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<your-api-key>"
LANGSMITH_PROJECT="pr-flowery-blossom-57"